html,
body {
  font-family: var(--font-family);
  /* background-color: var(--color-yellow-500); */
  background-color: var(--color-zinc-50);
  /* overflow-x: hidden; */
  /* margin: 8px;  */
  margin: 0;
  padding: 0;
 
  width: 100%;
  /* height: auto; */
}
* {
  box-sizing: border-box;
}

.body-container {
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
 padding: 18px 94px 0px 94px;
 
 
}

.main-contents-container {
  position: relative;
  width: 100%;
  min-height: 100vh;

  justify-content: center; /* Aligns items vertically (up/down) */

  margin-top: 40px; /*  desktop */
  gap: 80px; /*  desktop */

  display: flex;
  flex-direction: column;
  visibility: none;
}

/* Hide the clear (X) button in Chrome, Safari, and Edge */
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}
/* .search-section-container{
  display: none;
} */

.arrow-button {
  height: 48px;
  width: 48px;
  display: flex;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid var(--color-yellow-500);
  border-radius: 50%;
}

.arrow-button img {
  width: 24px;
  height: 24px;
}


#history-container {
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

#history-container ul {
  list-style-type: none;
  padding: 0;
}

#history-container li {
  display: inline;
  margin-right: 10px;
}

#history-container a {
  text-decoration: none;
  color: blue;
  cursor: pointer;
}

#history-container a:hover {
  text-decoration: underline;
}