/* Typography */
h1 {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
  font-weight: var(--font-weight-h1);
  letter-spacing: var(--letter-spacing-h1);
  margin: 0;
}
h2 {
  --font-size-h2: 36px;
  --line-height-h2: 46.8px;
  --font-weight-h2: 700;
  --letter-spacing-h2: 0px;
  margin: 0;
}

h3 {
  --font-size-h3: 28px;
  --line-height-h3: 36.4px;
  --font-weight-h3: 700;
  --letter-spacing-h3: 0px;
}

h4 {
  --font-size-h4: 20px;
  --line-height-h4: 26px;
  --font-weight-h4: 600;
  --letter-spacing-h4: 0px;
}

.regular-body {
  font-size: var(--font-size-body-r);
  line-height: var(--line-height-body-r);
  font-weight: var(--font-weight-body-r);
  letter-spacing: var(--letter-spacing-body-r);
  margin: 0;
}

.style-lead-R {
  font-size: var(--font-size-lead-r);
  font-weight: var(--font-weight-lead-r);
  line-height: var(--line-height-lead-r);
  letter-spacing: var(--letter-spacing-lead-r);
}

.style-h3 {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  font-weight: var(--font-weight-h3);
  letter-spacing: var(--letter-spacing-h3);
  margin: 0;
}

.style-h4 {
  font-size: var(--font-size-h4);
  line-height: var(--line-height-h4);
  font-weight: var(--font-weight-h4);
  letter-spacing: var(--letter-spacing-h4);
  margin: 0;
}

.style-h2 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
  font-weight: var(--font-weight-h2);
  letter-spacing: var(--letter-spacing-h2);
  margin: 0;
}

.style-p-SB {
  font-size: var(--font-size-p-sb);
  line-height: var(--line-height-p-sb);
  font-weight: var(--font-weight-p-sb);
  letter-spacing: var(--letter-spacing-p-sb);
  margin: 0;
}
.style-small-SB {
  font-size: var(--font-size-small-sb);
  line-height: var(--line-height-small-sb);
  font-weight: var(--font-weight-small-sb);
  letter-spacing: var(--letter-spacing-small-sb);
  margin: 0;
}

.style-lead-R-p::placeholder,
.style-lead-R-p::-webkit-input-placeholder,  /* Chrome, Safari, Opera */
.style-lead-R-p::-moz-placeholder,           /* Firefox 19+ */
.style-lead-R-p:-ms-input-placeholder,       /* Internet Explorer 10-11 */
.style-lead-R-p::-ms-input-placeholder {
  /* Microsoft Edge */
  font-size: var(--font-size-lead-r);
  font-weight: var(--font-weight-lead-r);
  line-height: var(--line-height-lead-r);
  letter-spacing: var(--letter-spacing-lead-r);
}

.style-body-R-p::placeholder,
.style-body-R-p::-webkit-input-placeholder,  /* Chrome, Safari, Opera */
.style-body-R-p::-moz-placeholder,           /* Firefox 19+ */
.style-body-R-p:-ms-input-placeholder,       /* Internet Explorer 10-11 */
.style-body-R-p::-ms-input-placeholder {
  /* Microsoft Edge */
  font-size: var(--font-size-body-r);
  font-weight: var(--font-weight-body-r);
  line-height: var(--line-height-body-r);
  letter-spacing: var(--letter-spacing-body-r);
}

.small-R {
  font-size: var(--font-size-small-r);
  line-height: var(--line-height-small-r);
  font-weight: var(--font-weight-small-r);
  letter-spacing: var(--letter-spacing-small-r);
}

.style-responsive{
  margin: 0;
  font-size: clamp(var(--font-size-body-r), 1.389vw,var(--font-size-h4));
  line-height: clamp(var(--line-height-small-r),1.806vw, var(--line-height-h4));
  font-weight: 600;
  letter-spacing: clamp(var(--letter-spacing-small-r),0, var(--letter-spacing-h4));
}

.large-SB {
  font-family: var(--font-family);
  font-size: var(--font-size-large-sb);
  line-height: var(--line-height-large-sb);
  font-weight: var(--font-weight-large-sb);
  letter-spacing: var(--letter-spacing-large-sb);
  margin: 0;
}
