.footer-container {

  display: flex;
  max-width: 1440px;
  width: 100%; /* This makes sure the child takes up full width until it reaches 1440px */
  margin: 0 auto;
  padding: 40px 94px 8px 94px;
  box-sizing: border-box;
}

.footer-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  width: 100%;
}
.footer-inner-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 align-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.footer-logo-contact-courses {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 722px;
  width: 100%;
}
.footer-company-social {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 510px;
  width: 100%;
}

.logo-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  flex: 1.4;
}

.footer-course-section {
  display: flex;
  flex-direction: column;
 
  gap: 8px;
  width: 100%;
  flex: 1;
}

.footer-company-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  flex: 1.3;
}

.footer-logo {
  padding-bottom: clamp(24px, 2.22vw, 32px);
  width: 192px;
}
.footer-contact-info {
  display: flex;
  color: var(--color-yellow-500);
  margin: 0;
  padding-bottom: clamp(8px, 0.833vw, 12px);
}

.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer-contact-items {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.footer-contact p {
  margin: 0;
  color: var(--color-zinc-50);
}

.footer-course-section .title {
  color: var(--color-yellow-500);
  margin: 0;
}
.footer-company-section .title {
  color: var(--color-yellow-500);
  margin: 0;
}

.p-company-course {
  color: var(--color-zinc-50);
  margin: 0;
}

.social-section-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
  width: 100%;
  
}

.social-logos img{
  width: 32px;

}
.social-section{


}


.social-section .title{
  color: var(--color-yellow-500);
  padding-bottom: 12px;
}
.social-section-container p{
  margin: 0;
  
}


.rights{
  color: var(--color-zinc-50);
  margin: 0;


}
.p-title{
  padding-bottom: 2px;
  color: var(--color-yellow-500);
  margin: 0;
}


.other-footer{
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-wrap: wrap;

}