body {
  font-family: var(--font-family);
  background-color: var(--color-zinc-50);
  padding: 0 72px;
  margin: 8px;
}

.homepage-container {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.main-contents-container {
  background-color: var(--color-zinc-50);
  position: relative;
  width: 100%;

  justify-content: center; /* Aligns items vertically (up/down) */
  height: 100vh;
  margin-top: 40px; /*  desktop */
  row-gap: 80px; /*  desktop */
}
