footer {
  width: 100%;

  /* padding: 20px 0; */
}

.desktop-only {
  display: block;
}

.mobile-only {
  display: none;
}

/* Tablet styles */
@media (max-width: 900px) {
  body {
    padding: 0px 48px;
  }

  .hero-banner-container {
    row-gap: 56px;
    flex-wrap: wrap;
  }
  .hero-text-container {
    justify-content: flex-start;
    row-gap: 32px;
    margin-top: 64px;
  }

  .logo-container {
    width: 116px;
  }

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }
  .header-left-side {
    max-width: none;
  }

  .search-container {
    display: none; /* Add this line */
  }

  .logo-container {
    padding-right: 0; /* Add this line */
  }

  .header-left-side {
    justify-content: flex-start; /* Add this line */
  }
}

/* Mobile styles */
@media (max-width: 480px) {
  body {
    padding: 0 20px;
  }

  /* Add tablet-specific styles here */
  h1.hero-text {
    font-size: var(--font-size-h1-tab-mobile);
    line-height: var(--line-h1-tab-mobile);
    font-weight: var(--font-weight-h1-tab-mobile);
    letter-spacing: var(--letter-spacing-h1-tab-mobile);
    margin: 0;
  }
  .hero-text-container {
    flex-wrap: wrap;
    width: 100%;
  }
}
