.top-companies-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.top-companies-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.company-title {
  display: flex;
}
.top-companies-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 172px;
  border-radius: var(--corner-extra-large);
  background-color: transparent;
  border: 1px solid var(--color-yellow-500);
  padding: 0 24px;
}

.arrow-button {
  display: none;
}

.top-companies-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: clamp(20px, 5%, 24px);
  width: 100%;
  flex-wrap: wrap;
  flex: 1;
}

.top-companies-items-container {
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: clamp(16px, 2vw, 24px); /* desktop */
  border: 1px solid var(--color-zinc-400);
  border-radius: var(--corner-medium);
  width: 100%;
  max-width: 250px;
  /* min-width: none; */
  gap: clamp(8px, 5vw, 16px);
}

.top-companies-rating {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;

  /* align-items: center; */
}
.company-img {
  width: 100%;
}

.company-image img {
  width: 144px;
  height: auto;
}

.reviews-title {
  display: flex;
  color: var(--color-zinc-600);

  margin: 0;
}

.company-name {
  color: var(--color-zinc-950);
  margin: 0;
  text-align: center;
}
