/* Typography */
h1 {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
  font-weight: var(--font-weight-h1);
  letter-spacing: var(--letter-spacing-h1);
  margin: 0;
}
h2 {
  --font-size-h2: 36px;
  --line-height-h2: 46.8px;
  --font-weight-h2: 700;
  --letter-spacing-h2: 0px;
  margin: 0;
}

h3 {
  --font-size-h3: 28px;
  --line-height-h3: 36.4px;
  --font-weight-h3: 700;
  --letter-spacing-h3: 0px;
}

h4 {
  --font-size-h4: 20px;
  --line-height-h4: 26px;
  --font-weight-h4: 600;
  --letter-spacing-h4: 0px;
}

.regular-body {
  font-size: var(--font-size-body-r);
  line-height: var(--line-height-body-r);
  font-weight: var(--font-weight-body-r);
  letter-spacing: var(--letter-spacing-body-r);
  margin: 0;
}
